---
import "../styles/global.css";
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Aissa - Fullstack Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://aissa-portfolio.com/static/media/tutor-tools.99ef9dab.png" />
  </head>
  <body class="bg-gradient-to-b from-white via-slate-100 to-emerald-50 text-slate-800 scroll-smooth">
    <slot />
  </body>
</html>
